
$main-color: #ff0040;
$second-color-darker: #b3002b;
$hovered-things: black;
$hovered-things-letters: white;
$gray: 1px solid #ccc;   
$font-size: 50px; 
$sizeimagenavbar: 39px;
$borderradiusvalue: 5px; 
$main-font: 'Khula', sans-serif;
$secondy-font: 'Candal', sans-serif;
$gray-light: #f2f2f2;



.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    padding: 125px;
    text-align: center;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 10px; 
    
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
    
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #b3002b ;
    color: $hovered-things-letters;
    transform: rotateY(180deg);
    font-family: $secondy-font;
    
  }

  .flip-card-back h1, .flip-card-back p{
  font-family: $secondy-font;
  font-size: 20px; 
  margin-top: 7px; 
  }

